{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <h1>Buy Stocks</h1>
    <form action="/buy" method="post">
        <div class="mb-3">
            <label for="symbol" class="form-label">Stock Symbol</label>
            <input type="text" class="form-control" id="symbol" name="symbol" placeholder="Enter stock symbol">
        </div>
        <div class="mb-3">
            <label for="shares" class="form-label">Number of Shares</label>
            <input type="text" class="form-control" id="shares" name="shares" placeholder="Enter number of shares">
        </div>
        <button type="submit" class="btn btn-primary">Buy</button>
    </form>
{% endblock %}
