{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h1>Transaction History</h1>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Action</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.action }}</td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
