{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <h1>Sell Stocks</h1>
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol" class="form-label">Select Stock Symbol</label>
            <select class="form-select" id="symbol" name="symbol">
                <option value="" selected disabled>Select a stock</option>
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="shares" class="form-label">Number of Shares to Sell</label>
            <input type="text" class="form-control" id="shares" name="shares" placeholder="Enter number of shares">
        </div>
        <button type="submit" class="btn btn-primary">Sell</button>
    </form>
{% endblock %}
